@model LoginVM
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="input-area" style="width:600px; background-color:lightgrey;padding20px;">
            <h2>Login</h2>
            <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                <div class="mb-3 ">
                    <label asp-for="UsernameOrEmail" class="form-label">Email or Username</label>
                    <input class="form-control" asp-for="UsernameOrEmail">
                    <span class="text-danger" asp-validation-for="UsernameOrEmail"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>



