@model TopImageCreateVM


@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create</h4>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <h3>Top image</h3>
                <div class="form-group">
                    <label asp-for="Photos">Photo</label>
                    <input asp-for="Photos" class="form-control">
                    <span asp-validation-for="Photos" class="text-danger my-1"></span>
                </div>

                <button class="btn btn-success">Create</button>
                <a asp-controller="TopImage" asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
